body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  background: #EEE;
  padding: 10px;
}

.footer {
  background: #FAFAFA;
  margin-top: 40px;
}

.navbar {
  background: #EEE;

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 768px;


    li {
      padding: 0 15px 15px 15px;
      font-size: 20px;
    }
  }
}

.display {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listing {
  display: flex;
}

.listing-filters {
  flex-basis: 20%;
  padding: 10px;
}

.listing-elements {
  flex-basis: 80%;
  flex-grow: 1;
}

.elements-wrapper {
  display: flex;
  flex-direction: column;
}

.elements {
  display: flex;
  flex-wrap: wrap;
}

.element {
  border: 1px solid #333;
  flex-basis: 25%;
  margin: 5px;
  padding: 5px;

  h4 {
    margin: 0 0 15px 0;
  }

  .element-links {
    text-align: center;
    margin-top: 15px;
  }
}

.filter-buttons {
  margin-bottom: 10px;
}

.paginador {
  margin-top: 15px;
  display: flex;

  span {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover:not(.active) {
      background: #ccc;
      border-radius: 50%;
    }
  }

  .active {
    background: #eee;
    border-radius: 50%;
  }
}

.languages-tag {
  border: 1px solid #B0B2AC;
  padding: 3px;
  border-radius: 25px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.languages-tags {
  margin-top: 10px;
}

.filters-applied-tag {
  border: 1px solid #B0B2AC;
  padding: 3px;
  border-radius: 25px;
  margin-right: 10px;
  margin-top: 10px;
}